{#
/**
 * PH35 Sample10 マスタテーブル管理完版 Src14/20
 * TOP画面
 *
 * @author Shinzo SAITO
 *
 * ファイル名=top.html
 * フォルダ=/ph35/scottadminkan/templates/
 */
#}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Shinzo SAITO">
        <title>TOP | ScottAdminKan Sample</title>
    </head>
    <body>
        <header>
            <h1>TOP</h1>
            <p><a href="/ph35/scottadminkan/public/logout.php">ログアウト</a></p>
        </header>
        <nav>
            <ul>
                <li><a href="/ph35/scottadminkan/public/dept/showDeptList.php">部門リスト</a></li>
                <li><a href="/ph35/scottadminkan/public/emp/showEmpList.php">従業員リスト</a></li>
            </ul>
        </nav>
    </body>
</html>