{#
/**
 * PH35 Sample14 マスタテーブル管理Slim版 Src21
 * TOP画面
 *
 * @author Shinzo SAITO
 *
 * ファイル名=top.html
 * フォルダ=/ph35/scottadminslim/templates/
 */
#}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Shinzo SAITO">
        <title>TOP | ScottAdminSlim Sample</title>
    </head>
    <body>
        <header>
            <h1>TOP</h1>
            <p><a href="/ph35/scottadminslim/public/logout">ログアウト</a></p>
        </header>
        <nav>
            <ul>
                <li><a href="/ph35/scottadminslim/public/dept/showDeptList">部門リスト</a></li>
                <li><a href="/ph35/scottadminslim/public/emp/showEmpList">従業員リスト</a></li>
            </ul>
        </nav>
    </body>
</html>